.header__logo {
    width: 6rem;
}

.page-accommodation {
    display: flex;
    gap: 45px;
    margin-top: 30px
}

.hotel-marseille-activites {
    padding-top: 50px
}

*,
:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.blue-icon {
    color: #0065fc;
    height: 3rem;
    line-height: 3 !important;
    text-align: center;
    width: 3rem
}

.hotel-marseille {
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 3rem;
    width: 80%
}

.card-hotel__etoiles {
    display: flex;
    padding-top: .3rem
}

.hotel-marseille__article-hotel {
    background-color: #ffff;
    border: .25rem solid #ffff;
    border-radius: 1.25rem 1.25rem 1.25rem;
    box-shadow: 1px 1px .5rem #afaaaa;
    height: 12.3rem;
    line-height: 1.4rem;
    width: 30%
}

.hotel-marseille__img {
    border-radius: 15px 15px 0 0;
    height: 110px;
    width: 100%
}

.hotel-Marseille__card {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 0 3rem
}

.hotel-marseille-activites__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.875rem;
}

.hotel-marseille-activites__card h3 {
    padding: 6%
}

.hotel-marseille-activites__card img {
    border-radius: 25px 25px 0 0;
    box-shadow: 0.06rem 0.06rem 0.6rem #dfdfdf;
    width: 100%
}

.hotel-marseille-populaire__article p {
    font-size: 14px
}

.hotel-marseille-populaire__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
    padding: 0.6rem
}

.hotel-marseille-activites__card__article {
    background-color: #ffff;
    border-radius: 1.56rem 1.56rem 1.56rem 1.56rem;
    box-shadow: 0.06rem 0.06rem 0.6rem #dfdfdf;
    width: 23%
}

.hotel-marseille-activites__card__article__img {
    height: 380px
}

.hotel-marseille-populaire__card {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    row-gap: 12px
}

.hotel-marseille-populaire__article {
    background-color: #FFFFFF;
    border: 0.3rem solid #FFFFFF;
    border-radius: 1.25rem;
    box-shadow: 0rem 0.18rem 0.9rem rgba(0, 0, 0, 0.1);
    height: 9rem;
    margin-bottom: 1.5rem;
    min-width: 21rem
}

.hotel-marseille-populaire__a {
    display: flex;
    height: 100%
}

.hotel-marseille-populaire__img {
    border-radius: 15px 0 0 15px;
    flex-shrink: 0;
    width: 40%
}

.etoiles {
    color: #0065FC;
    font-size: .75rem
}

.card-hotel__etoiles-vide {
    color: #F2F2F2;
    font-size: .75rem
}

.info__fa-info {
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    color: #0065fc;
    font-size: 11px;
    height: 22px;
    padding: 5px 8px;
    width: 22px
}

.fa-map-marker-alt {
    background-color: #F2F2F2;
    border: 3px #F2F2F2 solid;
    border-radius: 12px 0 0 12px;
    color: #000000;
    font-size: 16px;
    height: 45px;
    padding: 13px;
    text-align: center;
    width: 45px
}

.filtres {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 30px 0
}

.filtres__a {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    padding: 0 12px
}

.filtres__h2 {
    font-size: 18px;
    font-weight: bold
}

.filtres__li {
    align-items: center;
    border: 2px solid #d9d9d9;
    border-left: #DEEBFF;
    border-radius: 100px;
    display: flex
}

.filtres__ul {
    display: flex;
    flex-wrap: wrap;
    gap: 17px
}

.form-horizontal {
    display: flex;
    margin-top: 20px
}

.info {
    align-items: center;
    display: flex
}

.info__p {
    margin-left: 15px
}

.header__navitem {
    padding: 0 4rem
}

.hotel-marseille-populaire {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    padding: 2.5rem 2.5rem 0px 2.5rem;
}

.blue {
    color: blue;
}

.hotel-marseille-populaire__h2 {
    align-items: center;
    display: flex;
    font-size: 22px;
    justify-content: space-between
}

.rechercher__h1 {
    font-size: 22px
}

.rechercher__input {
    border: 2px #F2F2F2 solid;
    font-size: 18px;
    font-weight: bold;
    text-indent: 10px;
    width: 240px
}

.rechercher__button {
    background: #0065fc;
    border-radius: 0 13px 13px 0;
    border-style: none;
    color: #ffff;
    font-size: 18px;
    font-weight: bold;
    width: 130px
}

.card-blanc {
    flex: 1
}

.hotel-marseille-populaire__card-etoiles {
    display: flex;

}

.hotel-marseille__voir-plus {
    font-size: 1.1rem;
    font-weight: bold
}

a {
    color: #000000;
    text-decoration: none
}

body {
    max-width: 1400px;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: auto
}

footer {
    background: #F2F2F2;
    display: flex;
    gap: 220px;
    margin-top: 40px;
    padding: 45px;
    margin-left: 3%;
    margin-right: 3%
}

.footer__h2 {
    font-size: 18px;
    margin-bottom: 20px
}

footer li {
    font-size: 15.5px;
    list-style: none;
    padding-top: 8px
}

h3 {
    font-size: 16px;
    font-weight: bold
}

header {
    align-items: center;
    display: flex;
    height: 7.3rem;
    justify-content: space-between;
    margin: 0 3rem
}

img {
    object-fit: cover
}

main {
    margin: 0 3rem
}

nav a:hover {
    color: #0065FC;
}

@media screen and (max-width: 768px) {
    .logo {
        margin: 25px 0 0 45px
    }

    .page-accommodation {
        flex-direction: column-reverse;
        gap: 25px
    }

    .hotel-marseille-activites {
        margin: 0 12px
    }

    .hotel-marseille__article-hotel,
    .hotel-marseille-activites__card__article {
        width: 100%
    }

    .hotel-Marseille__card {
        gap: 25px
    }

    .hotel-marseille-activites__card {
        display: flex;
        flex-direction: column;
        gap: 30px
    }

    .hotel-marseille-activites__card__img {
        height: 150px
    }

    .hotel-marseille {
        background-color: #ffff;
        border-radius: 0;
        padding: 12px;
        width: 100%
    }

    .nav-item {
        border-bottom: 4px solid #F2F2F2;
        padding: 10px 51px;
        width: 50%
    }

    .nav-item:hover {
        border-bottom: 4px solid #0065fc;
        border-top: none;
        padding: 10px 51px
    }

    .hotel-marseille-populaire {
        background-color: #F2F2F2;
        border-radius: 0;
        padding: 40px 12px 0;
        width: 100%
    }

    .rechercher,
    .filtres,
    .info {
        margin: 20px
    }

    .rechercher__button {
        background: #0065fc;
        border-radius: 13px 13px 13px 13px;
        border-style: none;
        color: #ffff;
        display: none;
        display: block;
        font-size: 18px;
        font-weight: bold;
        margin-left: -20px;
        min-width: 50px
    }

    .footer__h2 {
        margin-bottom: 5px
    }

    footer {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 40px 20px
    }

    header {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0
    }

    main {
        margin: 0
    }


    nav {
        margin: 25px 0 15px;
        text-align: center;
        width: 100%
    }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
    footer {
        gap: 100px
    }
    .page-accommodation {
        flex-direction: column
    }
    .hotel-marseille {
        width: 100%
    }
    .hotel-marseille-populaire__article {
        min-width: 14rem;
        margin-left: 15px;
        width: 100%
    }
    .hotel-marseille-populaire__card {
        display: flex;
        flex-direction: row;
    }
    .right {
        margin-left: 69%;
    }
    .hotel-marseille-activites__card__article__img {
    height: 267px;
}
   .hotel-marseille__article-hotel {
    width: 29%;
   }
}
